html, body {
  margin: 0;
  background-color: #242544;
  color: #e6e1de;
  text-align: center;
  font-family: sans-serif;
}

header {
  margin-top: 50px;
}

main {
  margin-top: 10px;
}

footer {
  margin-top: 10px;
}

.logo {
  width: 80%;
  max-width: 400px;
}

.link-list {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.link-list > li {
  float: left;
  list-style: none;
  margin: 0 1rem;
  font-size: 42px;
}

.link-list a {
  color: inherit;
  opacity: inherit;
  transition: all 0.5s;
}

.link-list a:hover {
  color: #bebebe;
  opacity: 0.75;
  transition: all 0.5s;
}
